@import "tailwindcss";

@theme inline {
  --color-primary-dark: #111111;
  --color-primary-light: #EBEBEB;
  --color-surface: #1E1E1E;
  --color-muted: #8C8C8C;
  --color-accent: #ff4500;
  --font-sans: var(--font-inter), sans-serif;
  --font-display: var(--font-space-grotesk), sans-serif;
}

:root {
  --background: var(--color-primary-dark);
  --foreground: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

/* Custom Scrollbar for a premium feel */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-accent);
}
